<html>
<head>
    <title>Light</title>
</head>
<script>



</script>
    <body>

        <form method="post" action="/onLight">
            <button onclick="script('light on')">turn on</button>
        </form>
        <form method="post" action="/offLight">
            <button onclick="script('light off')">turn off</button>
        </form>
    </body>
</html>